{% extends "base.html.twig" %}

{% block body %}

	{% block header %}{% endblock %}

	<div class="container-xl bg-light p-5 border-top">

		<div class="row mb-2">

			<div class="col-12 col-lg-3">
				<h2 class="text-center text-muted fw-bold mb-4">Les genres</h2>
				<ul class="d-flex flex-column flex-wrap list-unstyled justify-content-center">
					{% for genre in genres %}
						<li class="btn btn-sm btn-outline-danger mx-1 mb-2" href="">
						
						{{ genre.name }}
						</li>
					{% endfor %}

				</ul>
			</div>

			<div class="col-12 col-lg-9">

				{% block subtitle %}{% endblock %}
				{# <h2 class="text-muted fw-bold mb-4">Les nouveautés</h2> #}

				{# La boucle for de twig correspond au foreach en php, il est possible de retrouvé l'index (voir syntaxe ci-dessous) #}
				{% for movie in movies %}

					<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm bg-white position-relative">
						<div class="col-4 movie__poster">
							<img
							src="{{movie.poster}}" class="img-fluid">
						<!-- img src="https://m.media-amazon.com/images/M/MV5BNThmZGY4NzgtMTM4OC00NzNkLWEwNmEtMjdhMGY5YTc1NDE4XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg" class="img-fluid" -->
						</div>
						<div class="col-8 p-4 d-flex flex-column position-static">

							{% include "front/favorite/_toggle_button.html.twig" %}

							<strong class="d-inline-block mb-2 text-primary">{{ movie.type }}</strong>
							<h3 class="mb-1">{{ movie.title }}</h3>
							<div class="mb-1 text-muted">{{ movie.duration }}
								min</div>
							<p>
								{{ movie.summary }}
							</p>
							{% include "front/movie/_stars.html.twig" %}
							{# Pour faire un lien vers une page, la fonction twig path avec en premier argument le nom de la route et en deuxièmes le paramètre #}
							<a href="{{ path( 'movie_show', {slug:movie.slug} )}}" class="fs-1 mt-3 text-danger align-self-start">
								<i class="bi bi-arrow-right-square"></i>
							</a>
						</div>
					</div>
				{% endfor %}
				<nav class="col-lg-9 offset-lg-3">
					<div class="page-item active">{{ knp_pagination_render(movies) }}
						{# <li class="page-item disabled">
															<a class="page-link">&laquo;</a>
														</li>
														<li class="page-item active">
															<a class="page-link" href="#">1</a>
														</li>
														<li class="page-item" aria-current="page">
															<a class="page-link" href="#">2</a>
														</li>
														<li class="page-item">
															<a class="page-link" href="#">3</a>
														</li>
														<li class="page-item">
															<a class="page-link" href="#">&raquo;</a>
														</li> #}
					</div>
				</nav>

			</div>

		</div>
	{% endblock %}
