{% extends "base.html.twig" %}
{% block title %}{{movie.title}}{% endblock %}
{% block body %}
<div class="container bg-lighttt pt-5">

        <div class="row mb-2">

            <div class="col">

                <div
                    class="row g-0 borderrr rrrounded overflow-hidden flex-md-row align-items-start mb-4 shadow-smmm position-relative">
                    <div class="col-4 movie__poster img-thumbnail">
                        <img src="{{movie.poster}}" class="img-fluid">
                        <!-- img src="https://m.media-amazon.com/images/M/MV5BNThmZGY4NzgtMTM4OC00NzNkLWEwNmEtMjdhMGY5YTc1NDE4XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg" class="img-fluid" -->
                    </div>

                    <div class="col-8 p-4 d-flex flex-column position-static bg-light">
                        {% include "front/favorite/_toggle_button.html.twig" %}
                        <strong class="d-inline-block mb-2 text-primary">{{movie.type}}</strong>
                        <h3 class="mb-1">{{movie.title}}</h3>
                        <div class="mb-1 text-muted">{{movie.duration}} min</div>
                        <p>
                            {% for genre in movie.genres %}
                                 <span class="badge bg-warning text-dark">{{genre.name}}</span>
                            {% endfor %}
                        </p>
                        <p>{{movie.summary}}
                        </p>
                        <p>{{movie.synopsis}}
                        </p>
                                                {% include "front/movie/_stars.html.twig" %}
                        

                        {% if movie.seasons is not empty %}
                            <h2>{{movie.seasons|length}} Saisons</h2>
                            <ul class="list-unstyled">
                                {% for season in movie.seasons %}
                                    <li><span class="badge bg-danger fs-6 mb-2">Saison {{season.numberSeason}}</span><small class="ms-1">({{season.numberEpisodes}} épisodes)</small></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <dl class="row">
                            <dt class="col-sm-12">Avec</dt>
                            <dd class="col-sm-12">
                                {% for casting in castingList %}
                                     Acteur : {{casting.person.firstname}} {{casting.person.lastname}} ({{casting.role}}, crédit-order : {{casting.creditOrder}})<br>
                                {% endfor %}
                               
                            </dd>
                            {# <dt class="col-sm-12">Pays</dt>
                            <dd class="col-sm-12">USA</dd> #}
                            <dt class="col-sm-12">Année</dt>
                            <dd class="col-sm-12">{{movie.releaseDate|date('d/m/Y')}}</dd>
                        </dl>

                        <h3>Commentaires</h3>
                        {% for review in reviews %}
                        <span class="text-muted">{{ review.username }}</span>
                        <span class="text-muted">{{ review.email }}</span>
                        <span class="text-muted">Note : {{ review.rating }}/5</span>
                        <p class="text-primary">
                            {{ review.content }}
                            <br>
                            <small class="text-warning">Vu le : {{ review.watchedAt|format_datetime(locale='fr', pattern="EEEE dd MMMM YYYY") }}</small>
                        </p>
                        {% endfor %}

                        <a href="{{ path('app_review_add_movie', {id: movie.id}) }}" class="btn btn-warning">Ajouter une critique</a>

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}